#AnchorPane{
   -fx-background-color: #2EBCFB;
   -fx-border-color: #113366;
   -fx-border-width: 3px 3px 3px 3px;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane{
    -fx-tab-min-width:150px;
    -fx-border-color: #113366;
    -fx-border-width: 2px 2px 2px 2px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab{
    -fx-background-color: #e6e6e6;
}

.tab-pane .tab:selected{
    -fx-background-color: #2EBCFB;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #113366;
}

#shortText{
-fx-text-alignment: CENTER;
-fx-font-weight: bold;
}

#longText{
-fx-text-alignment: CENTER;
-fx-font-weight: bold;
}

#emergencyBtn{
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-background-color: #BBBBFF;
    -fx-text-fill: #CC1144;
    -fx-border-color: #CC1144;
    -fx-border-width:  3px 3px 3px 3px;
}

#emergencyBtn:pressed {
    -fx-background-color:#9999FF;
}

.label{
-fx-font-weight: bold;
-fx-text-fill: #113366;
}

.slider{
-fx-background-color:
        linear-gradient(to top,#00FF00 0%, #FFFF00 50%, #FF0000 100%);
}

#s4{
-fx-background-color:
        linear-gradient(to right,#00FF00 0%, #FFFF00 50%, #FF0000 100%);
}

#s5{
-fx-background-color:
        linear-gradient(to right,#00FF00 0%, #FFFF00 50%, #FF0000 100%);
}

#rBar{
       -fx-border-color: #113366;
       -fx-border-width: 2px 2px 2px 2px;
}

#btnQuit{
     -fx-border-color: #113366;
     -fx-border-width: 2px 2px 2px 2px;
     -tx-text-fill: #113366;
     -fx-font-size: 14;
     -fx-background-color:  #2EBCFB;
     -fx-font-weight: bold;
}
#btnGraph{
     -fx-border-color: #113366;
     -fx-border-width: 2px 2px 2px 2px;
     -tx-text-fill: #113366;
     -fx-font-size: 14;
     -fx-background-color:  #2EBCFB;
     -fx-font-weight: bold;
}
#btnErrLog{
     -fx-border-color: #113366;
     -fx-border-width: 2px 2px 2px 2px;
     -tx-text-fill: #113366;
     -fx-font-size: 12;
     -fx-background-color:  #2EBCFB;
     -fx-font-weight: bold;
}
#btnSettings{
     -fx-border-color: #113366;
     -fx-border-width: 2px 2px 2px 2px;
     -tx-text-fill: #113366;
     -fx-font-size: 12;
     -fx-background-color:  #2EBCFB;
     -fx-font-weight: bold;
}

#quitBtn{
     -fx-border-color: #113366;
     -fx-border-width: 2px 2px 2px 2px;
     -tx-text-fill: #113366;
     -fx-font-size: 12;
     -fx-background-color:  #2EBCFB;
     -fx-font-weight: bold;
}

#enterBtn{
     -fx-border-color: #113366;
     -fx-border-width: 2px 2px 2px 2px;
     -tx-text-fill: #113366;
     -fx-font-size: 12;
     -fx-background-color:  #2EBCFB;
     -fx-font-weight: bold;
}
#showSettingsBtn{
     -fx-border-color: #113366;
     -fx-border-width: 2px 2px 2px 2px;
     -tx-text-fill: #113366;
     -fx-font-size: 12;
     -fx-background-color:  #2EBCFB;
     -fx-font-weight: bold;
}

#cancelBtn{
     -fx-border-color: #113366;
     -fx-border-width: 2px 2px 2px 2px;
     -tx-text-fill: #113366;
     -fx-font-size: 12;
     -fx-background-color:  #2EBCFB;
     -fx-font-weight: bold;
}

#saveBtn{
     -fx-border-color: #113366;
     -fx-border-width: 2px 2px 2px 2px;
     -tx-text-fill: #113366;
     -fx-font-size: 12;
     -fx-background-color:  #2EBCFB;
     -fx-font-weight: bold;
}

#nullTm{
    -fx-border-color: #113366;
    -fx-border-width: 2px 2px 2px 2px;
    -tx-text-fill: #113366;
    -fx-font-size: 12;
    -fx-background-color:  #2EBCFB;
    -fx-font-weight: bold;
}

#nullCiclCnt{
    -fx-border-color: #113366;
    -fx-border-width: 2px 2px 2px 2px;
    -tx-text-fill: #113366;
    -fx-font-size: 12;
    -fx-background-color:  #2EBCFB;
    -fx-font-weight: bold;
}


#nullTm{
    -fx-border-color: #113366;
    -fx-border-width: 2px 2px 2px 2px;
    -tx-text-fill: #113366;
    -fx-font-size: 12;
    -fx-background-color:  #2EBCFB;
    -fx-font-weight: bold;
}
#closeBtn{
    -fx-border-color: #113366;
    -fx-border-width: 2px 2px 2px 2px;
    -tx-text-fill: #113366;
    -fx-font-size: 12;
    -fx-background-color:  #2EBCFB;
    -fx-font-weight: bold;
}

#exportBtn{
    -fx-border-color: #113366;
    -fx-border-width: 2px 2px 2px 2px;
    -tx-text-fill: #113366;
    -fx-font-size: 12;
    -fx-background-color:  #2EBCFB;
    -fx-font-weight: bold;
}

#tabPane2{
    -fx-border-width: 0px 0px 0px 0px;
}


